# ==========================================
# Virtual Environment
# ==========================================
.venv/


# ==========================================
# Python Runtime & Bytecode Cache
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# IDEs & OS Files
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db